body{
  margin: 0px;
}

* {
  box-sizing: border-box;
}
.team {
  border: 1px solid black;
  width: fit-content;
  font-size: large;
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
  width: 45%;
}
.team-flag {
  width: 28px;
  height: 20px;
  object-fit: cover;
  margin-right: 5px;
}

.round-labels {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 10px;
}
.round-labels h4,
.round-labels h3 {
  margin: 0;
}
.final-labels {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
  height: 90vh;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#sideA, #roundOf32sideA, #roundOf16sideA, #quarterfinalSideA, #semifinalSideA,
#sideB, #roundOf32sideB, #roundOf16sideB, #quarterfinalSideB, #semifinalSideB {
  display: contents;
}

/* roundOf32sideA */
[data-fifa-number="p74"] { grid-area: 1 / 1 / 2 / 2; }
[data-fifa-number="p77"] { grid-area: 2 / 1 / 3 / 2; }
[data-fifa-number="p73"] { grid-area: 3 / 1 / 4 / 2; }
[data-fifa-number="p75"] { grid-area: 4 / 1 / 5 / 2; }
[data-fifa-number="p83"] { grid-area: 5 / 1 / 6 / 2; }
[data-fifa-number="p84"] { grid-area: 6 / 1 / 7 / 2; }
[data-fifa-number="p81"] { grid-area: 7 / 1 / 8 / 2; }
[data-fifa-number="p82"] { grid-area: 8 / 1 / 9 / 2; }

/* roundOf16sideA */
[data-fifa-number="p89"] { grid-area: 1 / 2 / 3 / 3; }
[data-fifa-number="p90"] { grid-area: 3 / 2 / 5 / 3; }
[data-fifa-number="p93"] { grid-area: 5 / 2 / 7 / 3; }
[data-fifa-number="p94"] { grid-area: 7 / 2 / 9 / 3; }

/* quarterfinalSideA */
[data-fifa-number="p97"] { grid-area: 1 / 3 / 5 / 4; }
[data-fifa-number="p98"] { grid-area: 5 / 3 / 9 / 4; }

/* semifinalSideA */
[data-fifa-number="p101"] { grid-area: 1 / 4 / 9 / 5; }

#final { grid-area: 1 / 5 / 5 / 6; }
#thirdAndFourPlace { grid-area: 5 / 5 / 9 / 6; }

/* semifinalSideB */
[data-fifa-number="p102"] { grid-area: 1 / 6 / 9 / 7; }

/* quarterfinalSideB */
[data-fifa-number="p99"] { grid-area: 1 / 7 / 5 / 8; }
[data-fifa-number="p100"] { grid-area: 5 / 7 / 9 / 8; }

/* roundOf16sideB */
[data-fifa-number="p91"] { grid-area: 1 / 8 / 3 / 9; }
[data-fifa-number="p92"] { grid-area: 3 / 8 / 5 / 9; }
[data-fifa-number="p95"] { grid-area: 5 / 8 / 7 / 9; }
[data-fifa-number="p96"] { grid-area: 7 / 8 / 9 / 9; }

/* roundOf32sideB */
[data-fifa-number="p76"] { grid-area: 1 / 9 / 2 / 10; }
[data-fifa-number="p78"] { grid-area: 2 / 9 / 3 / 10; }
[data-fifa-number="p79"] { grid-area: 3 / 9 / 4 / 10; }
[data-fifa-number="p80"] { grid-area: 4 / 9 / 5 / 10; }
[data-fifa-number="p86"] { grid-area: 5 / 9 / 6 / 10; }
[data-fifa-number="p88"] { grid-area: 6 / 9 / 7 / 10; }
[data-fifa-number="p85"] { grid-area: 7 / 9 / 8 / 10; }
[data-fifa-number="p87"] { grid-area: 8 / 9 / 9 / 10; }