footer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 40px;
    padding: 20px 32px;
    background-color: #474A4A;
    color: #fff;
    font-family: system-ui, sans-serif;
    font-size: 1.5rem;
}

.footer-logo {
    align-self: stretch;
    height: 100%;
    width: 80px;
    object-fit: contain;
    flex-shrink: 0;
}

.footer-content {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.footer-social {
    display: flex;
    gap: 50px;
}

.footer-social img {
    height: 32px;
    width: auto;
    cursor: pointer;
}

.footer-text {
    text-align: right;
}

.footer-text p {
    margin: 0;
    line-height: 1.3;
}   

.footer-text a {
    color: #47A4A4;
    text-decoration: underline;
}

.footer-text a:hover {
    color: #fff;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-links li {
    cursor: pointer;
}

.footer-links li:hover {
    color: #47A4A4;
}