div.divNav{
    background-color: #E61D25;
    padding: 10px 25px 10px 25px;
    border-radius: 12px;
}

    a.aNav{
        text-decoration: none;
        color: white;
    }

hr.Empty50px{
    border: none;
    height: 50px;
}

table.TableGroup{
    border-collapse: collapse;
    width: 100%;
}

    caption.TittleGroup{
        text-align: left;
        font-weight: bold;
    }

    td,
    th.TittleColumn{
        padding: 12px;
        text-align: center;
    }

    tbody.BodytableInfo{

    }