body{
    background-color: #d1d4d1;
    min-width: 1000px;
    margin: 0px;

    font-family: inter;
}

hr.Empty50px{
    border: none;
    height: 50px;
}

h1.NameSection,
h2.NameSection{
    margin-left: 50px;
}

div.BodyTable{
    background-color: white;
    border-radius: 12px;
    min-width: 1000px;

    margin: 0px 50px 0px 50px;
    padding: 20px;
}

table.TableScorers,
table.TableTeams{
    width: 100%;

    border-collapse: collapse;
}

    th.TitleColumn,
    td{
        padding: 12px;
        text-align: center;
    }

    td.Player,
    td.Team{
        justify-content: center;
        text-align: left;
    }

        div.PlayerData,
        div.TeamData{
            display: flex;

            align-items: center;
            gap: 8px;
        }

            img.TeamCrest{
                width: 30px;
                height: auto;

                border-radius: 5px;
            }