header{

    margin: 0px;

}

img.BackgroundImage{
    margin-bottom: -50px; /*Encaja el nav*/
    width: auto;
    height: 100%;
}

div.TittleAndLogo{
    display: flex;
    align-items: center;
}

img.loogoWorldCupOfHeader{
    width: auto;
    height: 200px;
}

h1.TittleOfHeader{
    color: white;

    text-size-adjust: 20px;
}