<img
  class="footer-logo"
  src="../img/icons/fifaWorldCup2026Logo.svg"
  alt="Logo de la FIFA World Cup 2026"
/>

<div class="footer-content">
  <div class="footer-info">
    <div class="footer-social">
      <img src="../img/icons/x.svg" alt="Logo de la red social X (Twitter)" />
      <img
        src="../img/icons/facebook.svg"
        alt="Logo de la red social Facebook"
      />
      <img
        src="../img/icons/instagram.svg"
        alt="Logo de la red social Instagram"
      />
      <img src="../img/icons/tiktok.svg" alt="Logo de la red social TikTok" />
    </div>

    <div class="footer-text">
      <p>
        Datos provenientes de la API
        <a href="https://www.football-data.org/" target="_blank"
          >football-data.org.</a
        >
        La web ha sido creada con fines educativos. No se infringen derechos de
        autor.
      </p>
    </div>
  </div>

  <ul class="footer-links">
    <li>Política de privacidad</li>
    <li>Términos de servicio</li>
    <li>Ajustar la configuración de las cookies</li>
  </ul>
</div>
